doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title API
        link(rel="stylesheet", href="style.css")
        script(src="canvas.js" defer)
        script(src="script.js" defer) 
    body 
        - const apiUrl = "https://automatic-capybara-4j75wj7gjxrrh7pwr-5000.app.github.dev";

        header
            nav
                h1 Come
                    span in
                
    
        main
            form#signIn(action=`${apiUrl}/signIn` method="post" enctype="multipart/form-data")

                h1 Sign In
                p Stay updated on your world
   
                input(type="email" placeholder="Email or Username" name="email" required)
                input(type="password" placeholder="Password" name="password" required)
                
                a.forgot-pass(href="#") 
                    span Forgot password?
                    
                button.sign-in(type="submit")
                    span Sign in

                .line 

                a.sign-in-apple(href="#")
                    img(src="https://pngfre.com/wp-content/uploads/apple-logo-6-1024x1024.png")
                    span Sign in with Apple 
    
            p New to LinkedIN?
                a(href="#") Join Now